---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="About of Project" description="contact of the project">
    <header>
        <Nav />
    </header>
    <h2>Contact</h2>
</Layout>