---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="About of Project" description="more info of the project">
    <header>
        <Nav />
    </header>
    <h2>More Info</h2>
</Layout>