---

---

<div class="decoration-footer">
    <div>
        <h2 class="endpage-h2">
            Página inspirada en <a
                href="https://astrowind.vercel.app"
                target="_blank">AstroWind</a
            >
        </h2>
    </div>
    <div class="tecnologias-flex">
        <span class="decoration">Tecnologias</span>
        <div>
            <ul class="ul-liend">
                <li>Astro</li>
                <li>Html</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
        </div>
    </div>
    <div class="tecnologias-flex">
        <span class="decoration">Sites</span>
        <div>
            <ul class="ul-liend">
                <li>Github</li>
                <li>Github</li>
            </ul>
        </div>
    </div>
    <div class="tecnologias-flex">
        <span class="decoration">Integrantes</span>
        <div>
            <ul class="ul-liend">
                <li>Dillan Toaquiza</li>
                <li>Mateo Logacho</li>
                <li>Marck Roman</li>
            </ul>
        </div>
    </div>
</div>
<style>
    .endpage-h2 {
        color: rgb(89, 25, 149);
        margin-right: 30px;
    }

    .decoration {
        color: #d0adf0;
    }

    .ul-liend {
        list-style: none;
        margin: 12px;
    }   


    .decoration-footer {
        display: flex;
        margin-top: 60px;
        padding: 60px;
        justify-content: space-between;
        background-color: rgba(81, 8, 142, 0.1);
    }
    .p-endpage {
        margin: 0;
    }
    .tecnologias-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
